<h1>Operaciones</h1>
<mat-card class="example-card">
    <mat-card-header>
      <mat-icon class="card-icon">attach_money</mat-icon>
      <mat-card-title>Transferencia</mat-card-title>
      <mat-card-subtitle>Transfiere tu dinero cuando quieras y a donde quieras</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button class="button">Entrar</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card1">
    <mat-card-header class="example-card2">
      <mat-icon class="card-icon">history</mat-icon>
      <mat-card-title>Historial</mat-card-title>
      <mat-card-subtitle>Observa tu historial de transferencias</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button class="button">Entrar</button>
    </mat-card-actions>
  </mat-card>
