<div class="flex flex-wrap w-full rounded-md bg-white justify-center">
  <div class="w-full">
    
  
<div class="container mx-auto px-4">
  <h1 class="text-2xl font-bold mt-4">Configuración de Cuenta</h1>
  <h2 class="text-lg font-semibold mt-2">Cuenta Nro {{account.codeInternalAccount}}</h2>

    <div class="mt-4">
      <label class="block mb-2">Sobregiro máximo:</label>
      <input class="w-1/3 px-4 py-2 border rounded" type="number" [(ngModel)]="maxOverdraft">
    </div>
  
    <div class="mt-4">
      <button class="px-4 py-2 bg-blue-500 text-white rounded" (click)="updateMaxOverdraft(account.uniqueKey,maxOverdraft)"  >Actualizar</button>
    </div>
  </div>
  
 
  <div *ngIf="showSuccess" class="fixed inset-0 flex items-center justify-center">
  <div class="bg-green-500 text-white px-4 py-2 rounded flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
    </svg>
    <p class="text-lg">¡Actualización exitosa!</p>
  </div>
</div>


<div *ngIf="showFailed" class="fixed inset-0 flex items-center justify-center">
  <div class="bg-red-500 text-white px-4 py-2 rounded flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <p class="text-lg">¡Ocurrió un error!</p>
  </div>
</div>

</div>
</div>
  