<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Préstamo</h1>
  
    <div class="flex flex-wrap">
      <div class="w-full md:w-4/5 mb-8 md:mb-8">
        <h2 class="text-lg font-bold mb-2">Datos generales del préstamo</h2>
        <table class="w-full border border-gray-200">
            <thead>
                <tr>
                  <th colspan="4" class="p-2 border-b">Detalles</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td class="font-bold p-2 border-b">Fecha:</td>
                  <td class="p-2 border-b">14/7/2023</td>
                  <td class="font-bold p-2 border-b">Monto:</td>
                    <td class="p-2 border-b">$ 12345</td>
                  
                </tr>
                <tr>
                    <td class="font-bold p-2 border-b">Tipo de Préstamo:</td>
                  <td class="p-2 border-b">Consumo</td>
                  <td class="font-bold p-2 border-b">Interes Anual:</td>
                    <td class="p-2 border-b">16.5%</td>
                  </tr>
                  <tr>
                    <td class="font-bold p-2 border-b">Sistema de Amortización: </td>
                    <td class="p-2 border-b">Fránces</td>
                    <td class="font-bold p-2 border-b">Cuotas: </td>
                    <td class="p-2 border-b">3 meses</td>
                  </tr>
              </tbody>
        </table>
      </div>
  
      <div class="w-full md:w-4/5 mx-auto">
        <h2 class="text-lg font-bold mb-2">Tabla de amortización</h2>
        <table class="w-full border border-gray-200">
            <thead>
                <tr>
                  <th class="p-2 border-b">Num. Cuota</th>
                  <th class="p-2 border-b">Fecha</th>
                  <th class="p-2 border-b">Balance Restante</th>
                  <th class="p-2 border-b">Capital</th>
                  <th class="p-2 border-b">Interés</th>
                  <th class="p-2 border-b">Monto</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr>
                  <td class=" p-2 border-b">1</td>
                  <td class="p-2 border-b">2023-08-15</td>
                  <td class="p-2 border-b">1000</td>
                  <td class="p-2 border-b">328,65</td>
                  <td class="p-2 border-b">13,25</td>
                  <td class="p-2 border-b">342,30</td>
                </tr>
                <tr>
                    <td class="p-2 border-b">2</td>
                    <td class="p-2 border-b">2023-09-15</td>
                    <td class="p-2 border-b">671,35</td>
                    <td class="p-2 border-b">333,42</td>
                    <td class="p-2 border-b">8,61</td>
                    <td class="p-2 border-b">342,30</td>
                  </tr>
                  <tr>
                    <td class="p-2 border-b">3</td>
                    <td class="p-2 border-b">2023-10-15</td>
                    <td class="p-2 border-b">337,93</td>
                    <td class="p-2 border-b">337,93</td>
                    <td class="p-2 border-b">4,48</td>
                    <td class="p-2 border-b">342,55</td>
                  </tr>
              </tbody>
        </table>
      </div>
    </div>
  
    <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded" (click)="solicitarPrestamo()">Solicitar</button>
  
    <div *ngIf="showPopup" class="fixed inset-0 flex items-center justify-center">
      <div class="bg-white rounded-lg p-8">
        <p>Solicitud exitosa</p>
      </div>
    </div>
  </div>
  


