<div class="w-full">
  <div class="container mx-auto p-8">
    <h1 class="text-4xl font-bold mb-4">Historial de Transacciones</h1>
    <h2 class="text-lg text-gray-600">Cuenta : {{account.name}} - {{account.codeInternalAccount}}</h2>

    <div class="flex mt-8">
      <div class="mr-8">
        <div class="flex">
          <h3 class="text-lg font-bold mb-2">Saldo Actual</h3>
          <p class="text-m ml-4">{{account.availableBalance}}</p>
        </div>
        <div class="flex">
          <h6 class="mb-2">Saldo Contable</h6>
          <p class="text-sm ml-4">{{account.totalBalance}}</p>
        </div>
      </div>


      <div class=" hidden flex-grow flex items-center justify-end">
        <button class="bg-blue-500 text-white px-4 py-2 rounded">Filtrar fechas</button>
      </div>
    </div>

    <table class="mt-8 w-full" *ngIf="transaction && transaction.length > 0 ; else noTransactions">
      <thead>
        <tr>
          <th class="bg-gray-200 text-left py-2 px-4">Fecha</th>
          <th class="bg-gray-200 text-left py-2 px-4">Documento</th>
          <th class="bg-gray-200 text-left py-2 px-4">Tipo de Transacción</th>
          <th class="bg-gray-200 text-right py-2 px-4">Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trans of transaction">
          <td class="border py-2 px-4">{{ trans.bookingDate | date: 'dd/MM/yyyy' }}</td>
          <td class="border py-2 px-4">{{ trans.reference }}</td>
          <td class="border py-2 px-4">{{getTransactionTypeTranslation(trans.transactionType)}}</td>
          <td class="border py-2 px-4 text-right">{{ trans.ammount | currency }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noTransactions>
      <p>No hay transacciones disponibles.</p>
    </ng-template>
  </div>

</div>