<div class="w-full h-full flex flex-col p-4 bg-white">
  <h1 class="font-bold  text-3xl text-gray-700">Préstamos</h1>
  <p class="text-gray-400">Elige una de las opciones, solicitar préstamos o realizar una simulación</p>
  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 p-3">
<div class="flex justify-center">
  <div (click)="navigateToPages('loan-product')" class="w-64 bg-white rounded-md flex flex-col items-center shadow-md h-22 p-2">
    <div class="text-center">
      <mat-icon class="icon-size-6 text-blue-500 mb-1" svgIcon="heroicons_outline:currency-dollar"></mat-icon>
      <h1 class="font-bold text-blue-500 text-lg">Solicitar Préstamo</h1>
    </div>
  </div>
</div>
</div>
   
   
    
    
    <div class="flex flex-wrap">
      <div  *ngFor="let item of loa" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 m-2 hover:animate-spin">
          <div (click)="saveLoanOnServiceForDataShare(item)"
              class="block max-w-sm p-6 bg-white border border-primary-500 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <div>
                  <div class="flex justify-between">
                      <h5 class="text-primary-500 mb-2 text-xl font-bold tracking-tight  dark:text-white">
                        {{ item.name }}
                      </h5>
                      <p class="text-primary-400 mb-2 text-base tracking-tight dark:text-white">
                          Nro. {{ item.code }}
                      </p>
                  </div>
              </div>
              <div>
                  <p class="text-primary-400 font-normal">
                      Siguente cuota a pagar:
                      {{ item.nextPaymentDate | date : "dd/MM/yyyy" }}
                  </p>
                  <span class="mb-2 text-2xl font-bold tracking-tight text-primary-500 dark:text-white">&#36;</span>
                  <span class="mb-2 text-2xl font-bold tracking-tight text-primary-500 dark:text-white">{{
                    item.nextPayment }}</span>
              </div>
            </div>
      </div>
  </div>
  
    
  
  </div>
  