<div class="w-full">
    <div  class="container mx-auto p-8">
        <h1 class="text-4xl font-bold mb-4">Historial de Transacciones</h1>
        <h2 class="text-lg text-gray-600">Prestamo : {{loan.code}} </h2>
      
        <div class="flex mt-8">
          <div class="mr-8">
            <div class="flex">
            <h3 class="text-lg font-bold mb-2">Próximo Pago</h3>
            <p class="text-m ml-4">{{loan.nextPayment}}</p>
        </div>
        <div class="flex">
            <h6 class="mb-2">Fecha:</h6>
            <p class="text-sm ml-4">{{loan.nextPaymentDate | date: 'dd/MM/yyyy'}}</p>
        </div>
          </div>
          
      
          <div class="hidden flex-grow flex items-center justify-end">
            <button class="bg-blue-500 text-white px-4 py-2 rounded">Filtrar fechas</button>
          </div>
        </div>
      
        <table class="mt-8 w-full" *ngIf="transaction && transaction.length > 0 ; else noTransactions">
          <thead>
            <tr>
              <th class="bg-gray-200 text-left py-2 px-4">Fecha</th>
              <th class="bg-gray-200 text-center py-2 px-4">Estado</th>
              <th class="bg-gray-200 text-right py-2 px-4">Monto</th>
              <th class="bg-gray-200 text-center py-2 px-4">Saldo Restante</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trans of transaction">
              <td class="border py-2 px-4">{{ trans.dueDate | date: 'dd/MM/yyyy' }}</td>
              <td class="border py-2 px-4 text-center">{{ trans.reference }}</td>
              <td class="border py-2 px-4 text-center">{{trans.state}}</td>
              <td class="border py-2 px-4 text-right">{{ trans.principalPaid | currency }}</td>
              <td class="border py-2 px-4 text-right">{{ trans.principalDue | currency }}</td>
            </tr>
          </tbody>
        </table>
        <ng-template #noTransactions>
          <p>No hay transacciones disponibles.</p>
        </ng-template>
      </div>
      
    </div>
