<div class="w-full">
    <div  class="container mx-auto p-8">
        <h1 class="text-4xl font-bold mb-4">Historial de Transacciones</h1>
        <h2 class="text-lg text-gray-600">Prestamo : {{loan.code}} </h2>
      
        <div class="flex mt-8">
          <div class="mr-8">
            <div class="flex">
            <h3 class="text-lg font-bold mb-2">Próximo Pago</h3>
            <p class="text-m ml-4">{{loan.nextPayment}}</p>
        </div>
        <div class="flex">
            <h6 class="mb-2">Fecha:</h6>
            <p class="text-sm ml-4">{{loan.nextPaymentDate}}</p>
        </div>
          </div>
          
      
          <div class="flex-grow flex items-center justify-end">
            <button class="bg-blue-500 text-white px-4 py-2 rounded">Filtrar fechas</button>
          </div>
        </div>
      
        <table class="mt-8 w-full">
          <thead>
            <tr>
              <th class="bg-gray-200 text-left py-2 px-4">Fecha</th>
              <th class="bg-gray-200 text-left py-2 px-4">Documento</th>
              <th class="bg-gray-200 text-left py-2 px-4">Tipo de Transacción</th>
              <th class="bg-gray-200 text-right py-2 px-4">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border py-2 px-4">2023-07-12</td>
              <td class="border py-2 px-4">DOC001</td>
              <td class="border py-2 px-4">Debito</td>
              <td class="border py-2 px-4 text-right">$100.00</td>
            </tr>
            <tr>
              <td class="border py-2 px-4">2023-07-11</td>
              <td class="border py-2 px-4">DOC002</td>
              <td class="border py-2 px-4">Credito</td>
              <td class="border py-2 px-4 text-right">$200.00</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      
    </div>
